body {
  background-color: #19241b;
}

.btn-gradient-up {
  height: 200px;
  width: 200px;
  background: linear-gradient(
        180deg,
        /* rgba(159, 200, 59, 0) 0%, */ #19241b,
        /* rgba(159, 200, 59, 0) 50% */ #19241b
      )
      padding-box,
    /* linear-gradient(to bottom, #9fc83b, rgba(255, 255, 255, 0))  */
      linear-gradient(
        90deg,
        rgba(159, 200, 59, 1) 0%,
        rgba(159, 200, 59, 0) 100%
      )
      border-box;
  border-radius: 50%;
  border: 15px solid transparent;
  filter: blur(1px);
  padding-top: 50px;
  font-size: 24px;
}
.btn-gradient-down {
  height: 200px;
  width: 200px;
  background: linear-gradient(
        180deg,
        rgba(25, 36, 27, 1) 0%,
        /* #19241b, */ rgba(25, 36, 27, 1) 50% /* #19241b */
      )
      padding-box,
    /* linear-gradient(to bottom, #9fc83b, rgba(255, 255, 255, 0))  */
      linear-gradient(
        90deg,
        rgba(159, 200, 59, 1) 0%,
        rgba(159, 200, 59, 0) 100%
      )
      border-box;
  border-radius: 50%;
  border: 15px solid transparent;
  filter: blur(1px);
  padding-top: 50px;
  font-size: 24px;
}
.btn-gradient-right {
  height: 100px;
  width: 100px;
  background: linear-gradient(
        90deg,
        /* rgba(159, 200, 59, 0) 0%, */ #19241b,
        /* rgba(159, 200, 59, 0) 50% */ #19241b
      )
      padding-box,
    /* linear-gradient(to bottom, #9fc83b, rgba(255, 255, 255, 0))  */
      linear-gradient(
        180deg,
        rgba(159, 200, 59, 1) 0%,
        rgba(159, 200, 59, 0) 100%
      )
      border-box;
  border-radius: 50%;
  border: 15px solid transparent;
  filter: blur(1px);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  padding-right: 10px;
}
.btn-gradient-left {
  height: 100px;
  width: 100px;
  background: linear-gradient(
        90deg,
        /* rgba(159, 200, 59, 0) 0%, */ #19241b,
        /* rgba(159, 200, 59, 0) 50% */ #19241b
      )
      padding-box,
    /* linear-gradient(to bottom, #9fc83b, rgba(255, 255, 255, 0))  */
      linear-gradient(
        180deg,
        rgba(159, 200, 59, 1) 0%,
        rgba(159, 200, 59, 0) 100%
      )
      border-box;
  border-radius: 50%;
  border: 15px solid transparent;
  filter: blur(1px);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
}

@media screen and (max-width: 990px) {
  .btn-gradient-up {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    font-size: 18px;
  }
  .btn-gradient-down {
    padding-top: 10px;
    font-size: 18px;
    height: 100px;
    width: 100px;
  }
}
